In [55]:
import pandas as pd

In [56]:
calendar = pd.read_csv('../originalData/calendar.csv')
print(calendar.info())
print(calendar.head())
#date is an object type, can we make it datetime?
#available is an object type, can we make it boolean?
#price is an object type, can we make it integer?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  object
 2   available   1308890 non-null  object
 3   price       643037 non-null   object
dtypes: int64(1), object(3)
memory usage: 39.9+ MB
None
   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [57]:
#Easily make the date column in calendar to a datetime datatype using pd.to_datetime!
calendar["date"] = pd.to_datetime(calendar["date"])
#Double check, make sure everything is in line and that it actually changed data types to datetime
print(calendar["date"].info())
print(calendar["date"].head())

<class 'pandas.core.series.Series'>
RangeIndex: 1308890 entries, 0 to 1308889
Series name: date
Non-Null Count    Dtype
--------------    -----
1308890 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 10.0 MB
None
0   2017-09-05
1   2017-09-04
2   2017-09-03
3   2017-09-02
4   2017-09-01
Name: date, dtype: datetime64[ns]

In [58]:
#The original available column in calendar has t/f values, lets make them boolean values of True/False
calendar["available"] = calendar["available"].map({
    't' : True,
    'f' : False
})
#Again double check everything looks good
print(calendar["available"].info())
print(calendar["available"].head())
print(calendar["available"].value_counts(dropna=False).head(10))

<class 'pandas.core.series.Series'>
RangeIndex: 1308890 entries, 0 to 1308889
Series name: available
Non-Null Count    Dtype
--------------    -----
1308890 non-null  bool
dtypes: bool(1)
memory usage: 1.2 MB
None
0    False
1    False
2    False
3    False
4    False
Name: available, dtype: bool
available
False    665853
True     643037
Name: count, dtype: int64

In [59]:
#if we want to change the datatype in the price column of calendar to a float we need to remove the elements of a string such as $ and , this is easy enough with the replace function
calendar["price"] = (
    calendar["price"]
        .str.replace('$', '')
        .str.replace(',', ''))
print(calendar["price"].info())
calendar["price"] = calendar["price"].astype(float)
print(calendar["price"].info())
#make sure everything looks okay!

<class 'pandas.core.series.Series'>
RangeIndex: 1308890 entries, 0 to 1308889
Series name: price
Non-Null Count   Dtype
--------------   -----
643037 non-null  object
dtypes: object(1)
memory usage: 10.0+ MB
None
<class 'pandas.core.series.Series'>
RangeIndex: 1308890 entries, 0 to 1308889
Series name: price
Non-Null Count   Dtype
--------------   -----
643037 non-null  float64
dtypes: float64(1)
memory usage: 10.0 MB
None

In [60]:
#get rid of any duplicate dates with the same listing id
calendar = calendar.drop_duplicates(subset=["listing_id", "date"])

calendar.to_csv("../cleanedData/cleanedCalendar.csv", index=False)